.navbar {
    background-color: #164374;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px 30px;
    font-size: 1.4rem;
}

.navbar-list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    list-style-type: none;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar a:hover {
    text-decoration: underline;
}