.navbar{
    background-color: #164374;
    display: flex;
    width: 100%;
    padding: 30px 0 30px 0;
    font-size: 1.4rem;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar a:hover {
    text-decoration: underline;
}